PORT=8080
CORS_ORIGIN=http://localhost:5173
ALEO_NETWORK=testnet
ALEO_RPC_URL=https://api.explorer.provable.com/v1
PROGRAM_PROFILE_REGISTRY=profile_registry.aleo
PROGRAM_DATA_MARKET=data_market.aleo
PROGRAM_ACCESS_TICKETING=access_ticketing.aleo
PROGRAM_INFERENCE_SETTLEMENT=inference_settlement.aleo
PROGRAM_PAYMENT_ROUTER=payment_router.aleo
